<h1 class="header">Welcome!</h1>

<div class="main">
  <h3 class="sub-header">Instructions:</h3>
  <p class="instructions">
    In this quiz you will be given a short comprehension that you will read and
    then answer 10 questions which have 4 choices only one is correct you will
    have 10 minutes to finish answering questions once the timer hits zero the
    questions will disappear and the submit button is clicked. when you are
    ready click start.
  </p>
  <br />
  <form action="/quiz" method="get">
    <button class="button">Start</button>
  </form>
  <br />
</div>
