<h1>Welcome!</h1>

<div class="main">
  <h3>Instructions:</h3>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde repudiandae
    earum neque blanditiis facilis non est ipsam voluptas voluptate laboriosam
    saepe nemo fugit, tempora mollitia eaque ratione. Possimus, nihil odio?
  </p>
  <form action="/quiz" method="get">
    <button>Start</button>
  </form>
</div>
