<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1000, initial-scale=1.0" />
    <title>Quiz app</title>
  </head>
  <body>
    <% if(data.page === "quiz"){ %> <%- include('quiz'); %> <% }else
    if(page==='result'){ %> <%- include('result'); %> <% }else
    if(page==='home'){ %> <%- include('index'); %> <% }else{ %> <%-
    include('error'); %> <% } %>
  </body>
</html>
