<form action="/results" method="post">
  <input
    type="text"
    class="form-control"
    id="title"
    name="title"
    placeholder="type the title..."
  />
  <button type="submit">Submit</button>
</form>
