.container {
  text-align: center;
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
  border-style: solid;
}

.header {
  font-weight: bold;
  text-align: center;
  color: blue;
  font-size: 3rem;
}

.button {
  font-size: 1rem;
  width: 150px;
}
.sub-header {
  font-size: 2rem;
}
.instructions {
  font-size: 1.5rem;
}

#countdown {
  font-size: 2rem;
  color: red;
}

ol {
  display: inline-block;
  font-size: 16px;
}

.story {
  font-size: 2rem;
  padding: 5px 5px 5px 5px;
}
